@import "./colorPalette";
@import "./fonts";

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: $black;
  color: $white;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem $regular;
  color: $white;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

button {
  background-color: $primary;
  color: $white;
  height: 5rem;
  width: 12rem;
  border-radius: 3rem;
  border: none;
  font: 700 2rem $regular;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: background-color 500ms;
  &:hover {
    background-color: $primaryDark;
  }
}

input {
  height: 5rem;
  border-radius: 3rem;
  font: 700 2rem $regular;
  color: $black;
  letter-spacing: 0.1rem;
  padding: 2rem;
  &:focus {
    outline: none;
    border: 0.2rem solid $primary;
  }
}
